@tailwind base;
@tailwind components;
@tailwind utilities;

.dropdown-menu {
  list-style: none;
}

.dropdown-menu li {
  display: block;
  padding-left: 10px;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  /* position: relative; */
  background-color: #fff;
  width: 200px;
  cursor: pointer;
  /* line-height: 35px; */
  text-decoration: none;
}

.dropdown-menu ul {
  position: absolute;
  top: 0;
  bottom: 0;
  display: none;
}

.dropdown-menu li:hover ul ul {
  display: none;
}

.dropdown-menu li:hover ul {
  margin-left: 190px;
  /* margin-top: -35px; */
  display: block;
}

.dropdown-menu li:hover {
  background-color: rgb(121, 121, 136);
}

.dropdown-menu li li:hover ul {
  margin-left: 190px;
  /* margin-top: -35px; */
  display: block;
}
